.carrossel-titulo{
    background-color: var(--branco);
    color: var(--cor--titulo--menu);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
    font-family: var(--fonte--principal);
}
.img-format {
    width: 100%;            
    height: auto;          
    max-height: 250px;      
    object-fit: contain;    
    display: block;  
  }
  .swiper-slide img {
    width: 100%;          
    height: auto;           
    max-height: 250px;       
    object-fit: contain;   
  }
  .swiper-button-prev, .swiper-button-next{
        display: none;
  }
  .swiper-pagination{
    position: initial;
    margin:0.5em 0;
  }
  .card-descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }
  .card-botoes{
    display: flex;
    justify-content: space-between;
  }
  .botoes{
    display: flex;
  }
  .card{
    background: var(--branco);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    font-family: var(--fonte--principal);
   
  }
  .card-descricao-titulo{
    color: var(--cor--titulo--menu);
    font-weight: 700;
  }
  .card-descricao-tituloLivro{
    color: var(--cor--texto--card);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
  }
  .card-descricao-texto{
    font-size: 14px;
  }
  .botoes-link{
    background-color: var(--cor--titulo--menu);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none ;
  }